@import "bootstrap.less";
body{font-family: @font-primary;}

.main_place{min-height: 500px !important;}
.bg-green{background: @brand-primary !important; border: 1px solid @brand-primary !important;}
.nav.side-menu > li.current-page, .nav.side-menu > li.active {border-right: 5px solid @brand-primary;}



@media (max-width: 992px){
footer {
    margin-left: 0px;
}
}